# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
test-results

# Test
tests/js/
!tests/**/node_modules

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.tsbuildinfo


